<div class="nav-collapse">
  <ul class="nav">
    <% if user_signed_in? %>
      <li>
        <a <%= 'class=active' if current_page? moments_path %> href="<%= moments_path %>">
        <%= t("views.moment.titles.index") %>
        </a>
      </li>
      <li>
        <a <%= 'class=active' if current_page? moments_all_path %> class="" href="<%= moments_all_path %>">
          <%= t("views.moment.titles.all") %>
        </a>
      </li>
      <li>
        <a <%= 'class=active' if current_page? new_moment_path %> class="" href="<%= new_moment_path %>">
          <%= t("views.moment.titles.new") %>
        </a>
      </li>
    <% end %>
  </ul>
  <ul class="nav pull-right">
    <li>
      <a <%= 'class=active' if current_page? about_path %> href="<%= about_path %>">
      <%= t("views.home.about") %>
      </a>
    </li>
    <% unless user_signed_in? %>
      <li <%= 'class=active' if current_page? new_user_registration_path %>>
        <%= link_to t('devise.navigation.sign_up'), new_user_registration_path %>
      </li>
      <li <%= 'class=active' if current_page? new_user_session_path %>>
        <%= link_to t('devise.navigation.sign_in'), new_user_session_path %>
      </li>
    <% else %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= (current_user.name.blank?) ? current_user.email : current_user.name %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to(t('devise.navigation.change_registration'),edit_user_registration_path) %></li>
          <li><%= link_to t('devise.navigation.sign_out'), destroy_user_session_path, :method => :delete %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>