<% flag = @moment.type.nil? | @moment.new? %>
<div class="container">
  <%= form_for @moment, :html => {:class => 'form-horizontal'} do |f| %>
    <fieldset>
      <legend><%= t("views.moment.titles.#{action_name}") %></legend>
      <div class="row row-grid">
        <div class="span6 offset1">
          <%= print_error_messages @moment %>
        </div>
      </div>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <% if flag %>
            <% first_flag = true %>
            <% @moment.types.each do |type| %>
              <% if first_flag %>
                <li class="<%= "active" if @moment.type.nil? or @moment.type == type %>">
                  <a href="#<%= type %>" data-toggle="tab">
                    <%= t("views.moment.types.#{type}") %>
                  </a>
                </li>
                <% first_flag = false %>
              <% else %>
                <li class="<%= "active" if @moment.type == type %>">
                  <a href="#<%= type %>" data-toggle="tab">
                    <%= t("views.moment.types.#{type}") %>
                  </a>
                </li>
              <% end %>
            <% end %>
          <% else %>
            <li class="active">
              <a href="#<%= @moment.type %>" data-toggle="tab">
                <%= t("views.moment.types.#{@moment.type}") %>
              </a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content">
          <% first_flag = @moment.type.nil? ? flag : false %>
          <% @moment.types.each do |type| %>
            <% if flag or @moment.type == type %>
              <div class="tab-pane<%= " active" if first_flag or @moment.type == type %>" id="<%= type %>">
                <%= render :partial => "moments/types/#{type}", :locals => {:f => f, :moment => @moment} %>
              </div>
            <% end %>
            <% first_flag = false if first_flag %>
          <% end %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'ä¿å­˜', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>
</div>
