<h1>所有点滴</h1>
<table class="table">
  <thead>
  <tr>
    <th>Note</th>
    <th>Photo</th>
    <th>Type</th>
    <th>时间</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @moments.each do |moment| %>
    <tr>
      <td><%= moment.note.body unless moment.note.nil? %></td>
      <td><%= moment.photo.body unless moment.photo.nil? %></td>
      <td><%= moment.type %></td>
      <td><%= moment.created_at %></td>
      <td><%= link_to 'Show', moment %></td>
      <td><%= link_to 'Edit', edit_moment_path(moment) %></td>
      <td><%= link_to 'Destroy', moment, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
