<p id="notice"><%= notice %></p>

<p>
  <b>Note body:</b>
  <%= @moment.note.body unless @moment.note.nil? %>
</p>

<p>
  <b>Photo body:</b>
  <%= @moment.photo.body unless @moment.photo.nil? %>
</p>

<p>
  <b>Type:</b>
  <%= @moment.type %>
</p>

<p>
  <b>Created at:</b>
  <%= @moment.created_at %>
</p>


<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>
