<% if @summary[:total] > 0 %>
  <% content_for :css do %>
    <%= stylesheet_link_tag :moments %>
  <% end %>
  <% content_for :js do %>
    <%= javascript_include_tag 'jquery.timer' %>
    <%= javascript_include_tag :moments_wall %>
  <% end %>
  <div class="container-fluid">
    <div class="span 3">
      <div class="hero-unit">
        <p>你的<%= link_to '第一篇点滴', moment_path(@summary[:first]) %>发表于 <strong><%= @summary[:first].full_time.strftime "%Y-%m-%d %H:%m" %></strong>。</p>
        <p>到今天，你已写下了<%= @summary[:total].to_s %>篇，平均每天<%= format("%0.2f", @summary[:average]) %>篇。</p>
        <p>
          <%= link_to '编辑上一篇点滴', edit_moment_path(@summary[:latest]), :class => 'btn btn-primary btn-large' %>
          <%= link_to '写下新的点滴', new_moment_path, :class => 'btn btn-primary btn-large'  %>
        </p>
      </div>
    </div>
    <div class="span 9">
      <div id="wall">
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="hero-unit">
      <p>当若干年后，看着过去记录的酸甜苦辣，一定会有一番感慨的吧！</p>
      <p>
        <%= link_to '现在，写下我的第一篇点滴！', new_moment_path, :class => 'btn btn-primary btn-large'  %>
      </p>
    </div>
  </div>
<% end %>
