<% content_for :js do %>
  <%= javascript_include_tag :moments %>
<% end %>
<% content_for :style do %>
  <%= stylesheet_link_tag :moments_wall %>
<% end %>

<div class="container">
  <% if @moments.empty? %>
    <p>You have no moment, why not to create one? <%= link_to t("views.moment.titles.new"), new_moment_path %></p>
  <% else %>
    <p><%= link_to 'Refresh!(test)', moments_wall_path %></p>
    <ul id="slider">
      <% @moments.each do |moment| %>
        <li>
          <p><%= moment.full_time.strftime("%Y-%m-%d %H:%M") %></p>
          <p><%= moment.note.body %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
